<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	  rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
	<h3 class="text-muted">Add a Person/Face/Employee to the Dataset</h3>
      </div>
      <hr/>
      <div>

	<form action="upload" method="post" enctype="multipart/form-data">
	 Employee Name <input type = "text" name="facename"><br>
	 Salon Name <input type = "text" name="salon"><br>
	  <input type="file" name="file"><br /><br />
	  <input type="submit" value="Upload">
	</form>
      </div>
    </div>
  </body>
</html>
 
